* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: hsl(219, 38%, 18%);
    color: white;
}

.fylo-navigation {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 70px 80px 50px 80px;
}

img[src*="logo.svg"] {
    width: 100px;
    height: 100%;
}

.fylo-links {
    margin-left: auto;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    list-style-type: none;
}

.hero-image {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px 50px 10px 50px;
    background-image: url("images/bg-curvy-desktop.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 50px;

}

.hero-image-description {
    margin-top: 70px;
    text-align: center;
    padding: 20px 400px 20px 400px;
   /*
    background-image: url("images/bg-curvy-desktop.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    */
}

.hero-image-description > p {
    margin-top: 6px;
    padding: 20px 100px 20px 100px;
    line-height: 1.6;
}

button {
    padding: 15px 60px;
    border-radius: 30px;
    border-style: none;
    background-color:  hsl(198, 60%, 50%);
    color: white;
}

.fylo-purpose-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 90px 150px 0px 150px;

}

.fylo-access-and-security {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.access-your-files-anywhere-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 100px 20px 100px;
    line-height: 1.6;
}

.security-container {
     display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0px 100px 20px 100px;
    line-height: 1.6;
}

.access-your-file-header-and-para-container,
.security-header-and-para-container {
    margin-top: 20px;
}


/* styling for realtime and store container*/

.real-time-and-store-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    text-align: center;
    padding: 100px 50px 50px 50px;
}

.real-time-collaboration-header-and-para-container {
    padding: 15px 50px 20px 50px;
    line-height: 1.6;
}


.store-any-type-header-and-para-container {
    padding: 15px 100px 20px 100px;
    line-height: 1.6;
}

